.image-upload-container {
    position: relative;
}

.image-wrapper {
    position: relative;
}

.uploaded-image {
    max-width: 100%;
    max-height: 190px;
}

.removebutton1 {
    position: absolute;
    color: rgb(221, 11, 11);
    border: none;
    cursor: pointer;
    font-size: 25px;
    width: 10px;
    height: 20px;
    margin-top: -15px;
    background-color: transparent;
    margin-left: -30px;
}

.upload-label {
    display: block;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border: 1px dashed #ccc;
    border-radius: 5px;
    padding-top: -50px;
}

.addButton {
    background-color: white;
    border: none;
    color: #1e40af;
    width: 2.5%;
    float: right;
}
